{{  mysql_log_error }}
{{  audit_plugin_log_path | default(omit) }}
{
       create 640 mysql mysql
       notifempty
       daily
       rotate 5
       missingok
       compress
    postrotate
       # just if mysqld is really running
       if test -x /usr/bin/mysqladmin && \
          /usr/bin/mysqladmin ping &>/dev/null
       then
          /usr/bin/mysqladmin flush-logs
       fi
    endscript
}
