# {{ ansible_managed }}

[client]
user="{{ mysql_root_username }}"
password="{% if ((mysql_root_temp_password is defined) and (mysql_root_temp_password != "None" )) %}{{ mysql_root_temp_password.stdout }}{% else %}{{mysql_root_password }}{% endif %}"

[mysqladmin]
user="{{ mysql_root_username }}"
password="{% if ((mysql_root_temp_password is defined) and (mysql_root_temp_password != "None" )) %}{{ mysql_root_temp_password.stdout }}{% else %}{{mysql_root_password }}{% endif %}"
